tml {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    padding: 0;
        margin: 0;
}

a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    width: 1440px;
    /* padding-left: 156px;
    padding-right: 156px; */
    padding: 24px 156px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}

.gallery-item {
    width: 360px;
    height: 200px;
    text-decoration: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.gallery-item:hover {
    box-shadow: none;
}

.gallery-link {
}

.gallery-image {
    width: 100%;
    height: 100%;
}

.modal {
    background-color: rgba(46, 47, 66, 0.8);
}